@import '../../styles/variables.scss';

.latest-news {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .container-news {
        width: 80%;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .heading {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-bottom: 52px;
            z-index: 0;

            h2 {
                font-weight: 600;
                font-size: 36px;
                margin-bottom: 15px;
            }

            p {
                max-width: 475px;
                color: $textColor;
                text-align: center;
            }
        }

        .news {
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            margin: 0 15px;

            .slide-news {
                width: 100%;
            }
        }
    }
}
