@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

$Poppin: 'Poppins', sans-serif;
$mainColor: black;
$orangeColor: rgb(255, 112, 4);
$textColor: rgb(71, 71, 71);
$border: rgb(235, 235, 235);
$primaryColor: rgb(47, 51, 58);
$backgroudSlider: rgb(231, 231, 231);
$colorSale: rgb(220, 53, 69);
$transparent: transparent;
$backgroudColor: rgb(244, 245, 248);
