@import '../../../../styles/variables.scss';

.address {
    .address-heading {
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 2px dashed $border;
        display: flex;
        justify-content: space-between;

        h3 {
            font-weight: 500;
        }

        .add-btn {
            padding: 4px 15px;
            background-color: transparent;
            border-radius: 3px;
            border: 1px solid $orangeColor;
            color: $orangeColor;
            outline: none;
            cursor: pointer;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                background-color: $orangeColor;
                color: white;
            }
        }
    }

    .address-notification {
        border-top: 3px solid $orangeColor;
        padding: 15px 10px 0;
        border-radius: 5px;
        background-color: white;
        font-size: 14px;
        font-weight: 600;
    }

    .contain_new_address {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;

        .address_item {
            width: 50%;
            padding: 0 15px;

            .address_box {
                position: relative;
                padding: 15px;
                background-color: rgb(245, 245, 245);
                border: 1px solid rgb(245, 245, 245);
                border-radius: 3px;
                margin-top: 15px;
                transition: 0.3s;

                &:hover {
                    border: 1px solid $orangeColor;
                }

                .info_address {
                    font-size: 15px;

                    p {
                        white-space: none;
                        text-overflow: ellipsis;
                        color: $textColor;
                        overflow: hidden;
                    }
                }

                .trash_btn {
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    font-size: 10px;
                    width: 24px;
                    height: 24px;
                    background-color: rgb(220, 53, 69);
                    text-align: center;
                    line-height: 24px;
                    border-radius: 3px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}
