@import '../../../styles/variables.scss';

.table-product {
    width: 100%;
    display: block;

    .table-product-container {
        width: 100%;
        margin-bottom: 25px;
        height: 100%;

        table {
            border: 1px solid $border;
            border-collapse: collapse;

            thead {
                tr {
                    border-collapse: collapse;

                    .info-product {
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        background-color: $border;
                        border: none;
                        padding: 21px 45px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    .non-products {
        .information {
            p {
                font-size: 12px;
                text-align: center;
            }
        }
    }
}
