@import '../../../styles/variables.scss';

.lounge-products {
    width: 100%;
    height: 100%;

    .lounge-products-heading {
        width: 100%;
        padding: 80px 0;
        margin-bottom: 100px;
        background-color: $backgroudColor;

        .container {
            width: 80%;
            padding: 0 15px;
            margin: 0 auto;
            text-align: center;

            .lounge-products-title {
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            & span a {
                color: $mainColor;
                text-decoration: none;
                margin-right: 4px;
            }
        }
    }
}

@media only screen and (max-width: 740px) {
    .lounge-products {
        margin-top: 67px;
        .lounge-products-heading {
            padding: 40px 0;
            margin-bottom: 60px;
            .container {
                .lounge-products-title {
                    font-size: 20px;
                }
            }
        }
    }
}
